@page "/CustHome"
@using Project_v2.Data
@inject StoreService  StoreService

<p>Customer Shopping Cart</p>

 @if (selectedCustomer == null) { 
     <div> 
         <label>Select Customer: </label> 
         @if (customers != null) { 
             <select> 
                 @foreach (var c in customers) { 
                     <option @onclick=@(e => SelectCustomer(c)) value=@c.Id>@c.Name</option> 
                 } 
             </select> 
         } else { 
            <span>Loading...</span> 
         } 
     </div> 
 } else { 
    <div class="row">
        <div class="col-6">
            <CustomerInventory customer="@selectedCustomer" onChanged="Refresh"/>
            @*WORK ON DISPLAYING AN INVENTORY OF ALL PRODUCTS!*@
        </div>
        <div class="col-6">
            <CustomerCart Customer=@selectedCustomer CartLines=@currentCart OnChanged="Refresh" />
        </div>
    </div>
    }

    @code {
private StoreService.Customer selectedCustomer;
    private List<StoreService.Customer> customers;
    private List<Tuple<StoreService.Product, int>> currentCart;

    protected override async Task OnInitializedAsync() {
        customers = await StoreService.GetCustomers();
    }

    async Task SelectCustomer(StoreService.Customer c) {
        selectedCustomer = c;
        currentCart = await StoreService.GetCart(c);
    }

    async Task Refresh() {
        await SelectCustomer(selectedCustomer);
        StateHasChanged();
    }
    }
