@page "/CustHome"
@using Project_v2.Data
@inject StoreService  StoreService

<p>Customer Shopping Cart</p>

@code {
     private StoreService.Customer _selectedCustomer; 
     private List<StoreService.Customer> _customers; 
     private List<StoreService.Product> _currentCart;
     private int _selectedScreen;

     async Task SelectCustomer(StoreService.Customer c)
     {
         currentCart = await StoreService.GetCart(c);
     } 
 
     async Task Refresh() { 
         await SelectCustomer(selectedCustomer); 
         StateHasChanged();
     } 
}
