@using Project_v2.Data
@using System.Collections.Generic
@inject StoreService  storeService

<h3>Distributor Inventory</h3>
@if (currentProducts == null) {
    <div>Loading...</div>
} else {
    <table width="100%">
        <tr>
            <th width="40%">Name</th>
            <th width="20%">Cost</th>
            <th width="20%">Inventory Count</th>
            <th width="20%">Minimum Age to Buy</th>
        </tr>
        @foreach (StoreService.Product p in currentProducts) {
            <tr>
                <td>@p.name</td>
                <td>@p.cost.ToString("c")</td>
                <td>@p.inventoryCount</td>
                <td>@p.minAgeRestriction</td>
                <td><button @onclick=@(e=>DeleteProduct(p)) >Delete Product</button></td>
            </tr>
        }
    </table>
}

@code {
    [Parameter]
    public StoreService.Distributor distributor { get; set; }

    [Parameter]
    public List<StoreService.Product> currentProducts {get;set;}

    [Parameter]
    public EventCallback onChanged { get; set; }

    protected override async Task OnInitializedAsync() {
        //currentProducts = await storeService.GetDistributorsProducts(distributor.id);

    }

    async Task DeleteProduct(StoreService.Product p) {
        storeService.DeleteProduct(p);
        await onChanged.InvokeAsync(null);
    }
}
