@page "/fetchdata"

@using Project_v2.Data
@inject StoreService storeService

<h1>Store</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Inventory Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (StoreService.Product c in products)
            {
            <tr>
                <td @onclick=@(e => SelectName(c.Name))>@c.Name</td>
                <td @onclick=@(e => SelectName(c.Cost.ToString()))>@c.Cost.ToString("c")</td>
                <td @onclick=@(e => SelectName(c.InventoryCount.ToString()))>@c.InventoryCount</td>
            </tr>
            }
        </tbody>
    </table>
}
@if (selectedName != null)
{
    <p>@selectedName was selected!</p>
}

@code {
    System.Collections.Generic.List<StoreService.Product>
    products;

    String selectedName = null;

    void SelectName(String name)
    {
        Console.WriteLine($"{name} was selected");
        selectedName = name;
    }

    protected override async Task OnInitializedAsync()
    {
        products = await storeService.GetOrdersFor(Guid.Empty);
        
    }
}
