@page "/"

@using Project_v2.Data
@inject StoreService storeService

<p>Home Dashboard</p>

<div id="imgContainer">
    <div class="imgRow">
        <div>
            <img src="../images/img1.jpg" alt="food image"/>
            <p class="text"></p>
        </div>
        <div>
             <img src="../images/img2.jpg" alt="food image"/>
             <p class="text"></p>
        </div>
        <div>
            <img src="../images/img4.jpg" alt="food image"/>
            <p class="text"></p>
        </div>
    </div>
    <div class="imgRow">
        <div>
             <img src="../images/img5.jpg" alt="food image"/>
             <p class="text"></p>
        </div>
        <div>
            <img src="../images/img6.jpg" alt="food image"/>
            <p class="text"></p>
        </div>
        <div>
            <img src="../images/img7.jpg" alt="food image"/>
            <p class="text"></p>
        </div>
    </div>
></div>