@page "/"

@using Project_v2.Data
@inject StoreService storeService

<p>Home Dashboard</p>

<link rel="stylesheet" type="text/css" href="/css/home.css">

<div id="imgContainer">
    <div class="imgRow">
        <div class="first box">
            <img class="first" src="/images/img1.jpg" alt="food image" width="300" height="200"/>
            <p class="text">Cucumbers</p>
        </div>
        <div class="box">
             <img src="/images/img2.jpg" alt="food image" width="300" height="200"/>
             <p class="text">Salad</p>
        </div>
        <div class="box">
            <img src="/images/img4.jpg" alt="food image" width="300" height="200"/>
            <p class="text">Pot Roast(?)</p>
        </div>
    </div>
    <div class="imgRow">
        <div class="first box">
             <img src="/images/img5.jpg" alt="food image" width="300" height="200"/>
             <p class="text">Mixed Fruit</p>
        </div>
        <div class="box">
            <img src="/images/img6.jpg" alt="food image" width="300" height="200"/>
            <p class="text">Mixed Vegtables</p>
        </div>
        <div class="box">
            <img src="/images/img7.jpg" alt="food image" width="300" height="200"/>
            <p class="text">Trail Mix</p>
        </div>
    </div>
</div>

@code
{
    
    
}
