@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="col-6"><h3 style="float:left;">Short Term Operation Requiring Excellent grades</h3></div>
        <div class="col-6"><a style="float: right" href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a></div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
